**/providers/*

# Taken from: https://github.com/github/gitignore/blob/master/CMake.gitignore
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
targets/Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# ignore ninja files
.ninja_deps
.ninja_log
build.ninja

# directories with the executable
out/
